@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: rgb(34,79,195);
  background: linear-gradient(107deg, rgba(34,79,195,0.1) 0%, rgba(45,253,210,0.2) 91%), url('./assets/ftv1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow:hidden;
}

/*       ScrollBar 1        */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #555;
  border-radius: 50rem;
}

::-webkit-scrollbar-thumb {
	background: #161515;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #3b3535;
}