@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: rgb(34,79,195);
  background: linear-gradient(107deg, rgba(34,79,195,0.1) 0%, rgba(45,253,210,0.2) 91%), url('./assets/ftv1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}